.TodoSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: calc(100% - 62px);
    height: 40px;
    max-width: 500px;

    background: var(--white);
    border-radius: 2px;
    border: 2px solid var(--title);     
    font-size: 1.8rem;
    text-align: center;
    font-weight: 400;
    color: var(--contrast);
    box-shadow: 0px 1px 10px rgba(198, 211, 244, 0.25);
}

.TodoSearch::placeholder, 
.TodoSearch p {
    color: var(--sure);
    font-weight: 400;
}
.TodoSearch p {
    text-align: center;
}
.TodoSearch:focus {
    outline-color: var(--focus);
}


@media (min-width:640px) {
    .TodoSearch {
        height: 50px;
        font-size: 2.2rem;
    }
    
}