:root {
  --background : #181818;
  --title : #903060;
  --sure: #a8a8a8;
  --contrast: #303030;
  --white : #F9FBFC;
  --focus :  #61DAFA;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html {
    font-size: 62.5%;
}


body {
  background-color: var(--background);
  list-style: none;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


